.container {
    position: sticky; 
    top: 0; 
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.container .leftTabs {
   display: flex;
   flex: 1; 
   justify-content: flex-start; 
   height: 100%;
}

.container .rightTabs {
    display: flex;
    flex: 1; 
    justify-content: flex-end; 
}

.container .logo {
    text-align: center;
    color: var(--old-rose);
    font-size: xx-large;
    letter-spacing: 2px;
    opacity: 0; /* Initially transparent */
    transition: opacity 0.5s ease; /* Smooth transition */
}

.container.scrolled .logo {
    opacity: 1; /* Visible after scrolling */
}


.leftTabs .tabBaseClass {
    white-space: nowrap;
    padding: 0.7rem 1.25rem; 
    font-size: 1.3vw; 
    color: var(--old-rose);
    font-weight: 500;
    display: flex;
    align-items: center;
}

.leftTabs .tabBaseClass:hover {
    background-color: var(--chocolate-cosmos);
    opacity: 0.8;
}

.leftTabs .tabActiveClass {
    pointer-events: none;
    text-decoration: underline solid var(--old-rose) 10%;
    text-underline-offset: 10px;
 }

.rightTabs .icon {
    border-radius: 50%;
    display: block;
    height: 2rem;
    width: 2rem;
    background: var(--old-rose);
    margin-right: 15px;
}

.rightTabs .icon .iconSVG {
    filter: invert(80%) sepia(1%) saturate(4944%) hue-rotate(312deg) brightness(98%) contrast(95%);
}


