.container {
    background-color: var(--random-color3);
    padding: 0.6rem 0; 
    position: sticky; 
    top: 0; 
    z-index: 5;
}

.container .leftTabs {
   width: fit-content;
   position: relative;
   left: 0;
}

.container .leftTabs .tabBaseClass {
    white-space: nowrap;
    padding: 0.7rem 1.25rem; 
    font-size: 1rem; 
    color: var(--beige-warm-darker);
    font-weight: 500;
}

.container .leftTabs .tabBaseClass:hover {
    background-color: #ebe2d7;
    color: #aa8a63;
}

.container .leftTabs .tabActiveClass {
    color: var(--beige-warm-darker);
    background-color: var(--beige-warm-lighter);
    pointer-events: none;
 }

.container .logo {
    position:absolute;
    top: 0; 
    left: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--beige-warm-darker);
    font-size: xx-large;
    letter-spacing: 2px;
}

.container .rightTabs {
    width: fit-content;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.rightTabs .icon {
    border-radius: 50%;
    display: block;
    height: 2rem;
    width: 2rem;
    background: var(--beige-warm-dark);
    margin-right: 15px;
}

.rightTabs .icon .iconSVG {
    filter: invert(99%) sepia(1%) saturate(4944%) hue-rotate(312deg) brightness(98%) contrast(95%);
}


