.container {
    background-color: var(--random-color3);
    position: sticky; 
    top: 0; 
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.container .leftTabs {
   display: flex;
   flex: 1; 
   justify-content: flex-start; 
   height: 100%;
}

.container .rightTabs {
    display: flex;
    flex: 1; 
    justify-content: flex-end; 
}

.container .logo {
    text-align: center;
    color: var(--beige-warm-darker);
    font-size: xx-large;
    letter-spacing: 2px;
}

.leftTabs .tabBaseClass {
    white-space: nowrap;
    padding: 0.7rem 1.25rem; 
    font-size: 1rem; 
    color: var(--beige-warm-darker);
    font-weight: 500;
    display: flex;
    align-items: center;
}

.leftTabs .tabBaseClass:hover {
    background-color: #ebe2d7;
    color: #aa8a63;
}

.leftTabs .tabActiveClass {
    color: var(--beige-warm-darker);
    background-color: var(--beige-warm-lighter);
    pointer-events: none;
 }

.rightTabs .icon {
    border-radius: 50%;
    display: block;
    height: 2rem;
    width: 2rem;
    background: var(--beige-warm-dark);
    margin-right: 15px;
}

.rightTabs .icon .iconSVG {
    filter: invert(99%) sepia(1%) saturate(4944%) hue-rotate(312deg) brightness(98%) contrast(95%);
}


