.search {
    border: solid 1px var(--chinese-violet);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 7px 15px;
    background-color: rgba(133, 82, 110, 0.6);
}

.search .input {
    outline: none;
    background-color: transparent;
    width: 70%;
}

.input::placeholder {
    color: rgba(200, 145, 175, 0.8);
}

.search .searchIcon {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(78%) sepia(5%) saturate(2718%) hue-rotate(285deg) brightness(87%) contrast(77%);}