.search {
    border: 1px solid #aaaaaa;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 7px 15px;
}

.search .input {
    outline: none;
    background-color: transparent;
}

.search .searchIcon {
    cursor: pointer;
    filter: invert(42%) sepia(0%) saturate(2454%) hue-rotate(316deg) brightness(101%) contrast(79%);
}