@tailwind base;

:root {


  --chocolate-cosmos: #541023ff;
  --chocolate-cosmos2: #581328ff;
  --old-rose: #D57D82ff;
  --old-rose2:rgb(234, 177, 180);
  --older-rose: rgb(179, 105, 109);
  --licorice: #1D020Bff;
  --quinacridone-magenta: #913B62ff;
  --burgundy: #861D2Eff;
  --chinese-violet: #9E6685ff;
  --chinese-violet-lighter: rgb(200, 159, 181);
  --tyrian-purple: #5C1B45ff;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Lora', serif;
  background: rgb(88,19,40);
  background: linear-gradient(180deg, rgba(88,19,40,1) 50%, rgba(97,25,49,1) 55%, rgba(112,36,64,1) 69%, rgba(145,59,98,1) 100%);
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-thumb {
  background: var(--chinese-violet); 
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--quinacridone-magenta);
}

::-webkit-scrollbar-track {
  background: var(--tyrian-purple);
}