@tailwind base;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --beige-warm-lighter: #D2C1B0;
  --beige-warm-light: #AD947E;
  --beige-warm-dark: #AA9183;
  --beige-warm-darker: #735E59;

  --beige-cold-lighter: #D7CAC1;
  --beige-cold-light: #CBC2B9;
  --beige-cold-dark: #AFA295;
  --beige-cold-darker-greenish: #9E9784;

  --random-color: #c1b8a6;
  --random-color2: #efe3d6;
  --random-color3: #f1e9e1;
  --random-color4: #f5f0ea;

  --chocolate-cosmos: #541023ff;
  --chocolate-cosmos2: #581328ff;
  --old-rose: #D57D82ff;
  --licorice: #1D020Bff;
  --quinacridone-magenta: #913B62ff;
  --burgundy: #861D2Eff;
  --chinese-violet: #9E6685ff;
  --tyrian-purple: #5C1B45ff;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Lora', serif;
  background-color: var(--chocolate-cosmos);
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-thumb {
  background: var(--chinese-violet); 
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--quinacridone-magenta);
}
