.workCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    width: 15%;
    padding: 10px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.workCard .imgContainer .image {
    object-fit: cover;
    height: 200px;
    width: 140px;
    border-radius: 7px;
}

.workCard .textContainer {
    text-align: justify;  
    color: var(--beige-warm-darker);  
}

.workCard .textContainer > *:hover {
    color: var(--beige-warm-light); 
    cursor: pointer; 
}

.workCard .textContainer .title {
    font-size: medium;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.workCard .textContainer .authors {
    font-size: small;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
